---
---

$header-bg-color: hsl(4deg, 100%, 45%);
$header-bg-color-secondary: hsl(25deg, 100%, 45%);
$section-headings-color: hsl(16deg, 100%, 55%);
$body-link-color: hsl(4deg, 100%, 55%);

@import "{{ site.theme }}";

.btn {
  color: rgba(255, 255, 255, 0.9);
}

.btn:hover {
  color: rgb(255, 255, 255);
}
